* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #d9dcd6;
    
}

.body img {
    width: 100%;
    height: 100%;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(139, 0, 0);
    color: black;
    text-align: center;
    
}

.section h2 {
    text-align: center;
    font-size: 55px;
    font-family:cursive;
}

.section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.section a:hover {
    color: brown;
    border: none;
}

header h1 {
    display: inline-block;
    font-size: 53px;
    font-style:inherit;
    font-family:cursive;
}


 nav {
    padding-top: 15px;
    margin-right: 20px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    justify-content: space-between;
    
}
 nav ul {
    list-style-type: none;

}
ul {
    display: flex;
    justify-content: space-between;
}

 nav ul li a:hover{
    display: inline-block;
    margin-left: 25px;
   
}

.jumborton {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://i.pinimg.com/736x/8e/6c/06/8e6c064f57f94838263d7ba9ad80f353.jpg");
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    color: navy;
    font-style: bold;
    font-size: 25px;
    border: 8px solid black;
    display: block;
    margin: 225px;
    margin-top: 10px;
    /* position: relative; */
    text-align: center;

    
}




.float-middle {
    float: middle;
    margin: 0 675px 0 675px;
    margin-top: 40px;
}

footer {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: brown;
    

}

.footer p {
    color: black;
    border: none;
    margin-top: 50px;
}

.footer h2 {
    font-size: 30px;
    margin-top: 50px;
}

@media screen and (max-width:1000px) {
    a {
        font-size: 24px;

    }
    
}
@media screen and (max-width:920px) {
    ul {

        flex-direction: column;

    }
    li {
        color: red;
    }
    p {
        width: 700px;
        margin: 20px auto;
    }
}
@media screen and (max-width:701px) {
    p {
        width: 500px;
        margin: 20px auto;
    }
}

